<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/css%>
</head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">
      <div class="impacts-table">
        <div class="row row-title">
          <div class="col">
              <h2 style="float: left;"><%= title %></h2>
          </div>
          <div class="col">
              <a style="float: right;" href="/disseminations/add" class="btn btn-info">Add Dissemination</a>
          </div>
        </div>
          <table class="table table-striped table-bordered table-responsive-lg" id="impacts-table">
              <thead>
                <tr>
                  <th width="5%" scope="col">ID</th>
                  <th width="40%" scope="col">Headline (Click to see Impacts and SM Shares)</th>
                  <th width="20%" scope="col">Summary</th>
                  <th width="10%" scope="col">PR/NEWS</th>
                  <th width="10%" scope="col">Date</th>
                  <th class="no-sort" width="7.5%" scope="col">Details</th>
                  <th class="no-sort" width="7.5%" scope="col">Link</th>
                </tr>
              </thead>
              <tbody>
                  <% for(var i=0; i<disseminations.length; i++) {%>
                  <tr>
                      <td><%= disseminations[i].id %></td>
                      <td style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                        <a href="/disseminations/impacts-shares/<%= disseminations[i].id %>"><%= disseminations[i].headline %></a>
                      </td>
                      <td><%= disseminations[i].summary %></td>
                      <td><%= disseminations[i].pr_news %></td>
                      <td><%= disseminations[i].date.toLocaleDateString() %></td>
                      <td style="text-align: center"><a class="fas fa-list" href="/disseminations/<%= disseminations[i].id %>"></a></td>
                      <td style="text-align: center"><a class="fas fa-external-link-alt" href="<%= disseminations[i].url %>" target="_blank" ></a></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
      </div>
    </div>
    <% include ./partials/scripts%>
    <% include ./partials/datatablesScripts%>
</body>
</html>