<!DOCTYPE html>
<html>
  <head>
    <title>Edit Impact</title>
    <% include ./partials/css%>
  </head>
<body>
  <%- include('partials/navbar', {admin:admin}) %>
  <div class="content-form">

    <form class="impact-form" action="/impacts/edit/<%= impact.id %>" method="post" novalidate>
      <h2>Edit impact</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Headline*</label>
        <input type="text" class="form-control" name="headline" value="<%= impact.headline %>" required>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination*</label>
        <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-default border" name="dissemination" required>
          <option selected value="<%= impact.dissemination %>"><%= dissemination.headline %></option>
          <option disabled>----------</option>
          <option value="-1">Other dissemination (Add info manually) </option>
          <option disabled>----------</option>
          <% for(var i=0; i<disseminations.length; i++) {%>
            <option value="<%= disseminations[i].id %>">[<%= disseminations[i].id %>] <%= disseminations[i].headline %> (<%= disseminations[i].date.getFullYear() %>)</option>
          <% }%>
        </select>
      </div>

      <div class="form-group optional">
        <label id="dissemination_headline_label" for="exampleFormControlInput1">Dissemination: Headline*</label>
        <input type="text" class="form-control dissemination" name="dissemination_headline" value="<%= dissemination.headline %>" disabled required>
      </div>

      <div class="form-group optional">
        <label id="dissemination_lead_paragraph_label" for="exampleFormControlInput1">Dissemination: Lead Paragraph*</label>
        <textarea class="form-control dissemination" name="dissemination_lead_paragraph" rows="3"disabled required><%= dissemination.lead_paragraph %></textarea>
      </div>

      <div class="form-group">
        <label id="dissemination_summary_label" for="exampleFormControlInput1">Dissemination: Summary*</label>
        <textarea class="form-control dissemination" name="dissemination_summary" rows="3"disabled required><%= dissemination.summary %></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col optional">
            <label id="dissemination_published_date_label" for="exampleFormControlSelect1">Dissemination: Published Date*</label>
            <input type="date" class="form-control dissemination" value="<%= dissemination.date %>" name="dissemination_date"disabled required>
        </div>
        <div class="form-group col">
          <label id="dissemination_pr_news_label" for="exampleFormControlSelect1">Dissemination: PR/NEWS</label>
          <select class="form-control dissemination" name="dissemination_pr_news" disabled required> 
            <option disabled selected value="<%= dissemination.pr_news %>"><%= dissemination.pr_news %></option>
            <option value="PR">PR</option>
            <option value="NEWS">NEWS</option>
          </select>
        </div>
      </div>

      <div class="form-group optional">
        <label id="dissemination_url_label" for="exampleFormControlInput1">Dissemination: URL*</label>
        <input type="text" class="form-control dissemination" name="dissemination_url" value="<%= dissemination.url %>" disabled>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="media">Media (<a href='/media/add'>Add new</a>)</label>
          <select class="form-control" id="media" name="media" required>
            <option selected value="<%= impact.media_id %>"><%= impact.media_name %></option>
            <% for(var i=0; i<medias.length; i++) {%>
            <option value="<%= medias[i].id %>"><%= medias[i].name %></option>
            <% }%>
          </select>
        </div>

        <div class="form-group col">
          <label for="mdia_section">Media Section*</label>
          <input type="text" class="form-control" id="media_section" name="media_section" value="<%= impact.media_section %>" required>
        </div>
      </div>

      <div class="form-row">

          <div class="form-group col">
            <label for="type">Type of Publication</label>
            <select class="form-control" name="type" required>
              <option selected value="<%= impact.impact_type %>"> <%= impact.type %> </option>
              <% for(var i=0; i<types.length; i++) {%>
                <option value="<%= types[i].id %>"><%= types[i].type %></option>
              <% }%>
            </select>
          </div>
  
          <div class="form-group col">    
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="uploaded" value="true" name="uploaded" data-toggle="tooltip" title="Tick if we have actively published on any web portals" <% if(impact.uploaded){ %> checked <%}%>>
              <label class="form-check-label" for="uploaded">Uploaded</label>
            </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="proactivity" value="true" name="proactivity" data-toggle="tooltip" title="Tick if the impact is a result of our dissemination activities but we haven’t directly published it" <% if (impact.proactivity){ %> checked <% } %>>
                <label class="form-check-label" for="proactivity">Proactivity</label>
              </div>
            </div>
        
        </div>
  
        <div class="form-row">
  
          <div class="form-group col">
            <label for="exampleFormControlSelect1">Language*</label>
            <select class="form-control" name="language" required>
              <option selected value="<%= impact.language %>"><%= impact.language %></option>
              <option value="Spanish">Spanish</option>
              <option value="English">English</option>
              <option value="Other">Other</option>
            </select>
          </div>
  
          <div class="form-group col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Date Published*</label>
              <input type="date" class="form-control" name="date" value="<%= impact.date %>" required>
            </div>
          </div>
  
        </div>
  
        <div class="form-row">
          <div class="form-group col">
            <label for="classification">Classification</label>
            <select class="form-control" name="classification" required>
              <option selected value="<%= impact.classification %>"><%= impact.classification_name %></option>
              <% for(var i=0; i<classifications.length; i++) {%>
                <option value="<%= classifications[i].id %>"><%= classifications[i].classification %></option>
              <% }%>
            </select>
          </div>
  
          <div class="form-group col">
            <label for="classification">Number of Photos</label>
            <select class="form-control" name="photo_count" required>
              <option selected value="<%= impact.photo_count %>"> <%= impact.photo_count %> </option>
              <option value="0">none</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">>5</option>
            </select>
          </div>
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">Spokesperson</label>
          <input type="text" class="form-control" name="spokesperson" value="<%= impact.spokesperson %>">
        </div>
  
        <div class="form-row">
          <div class="form-group col">
            <label for="exampleFormControlInput1">Source URL*</label>
            <input type="text" class="form-control" name="source_url" data-toggle="tooltip" title="The link related to the dissemination that connects with the impact we’re adding, usually from our website" value="<%= impact.source_url %>" required>
          </div>
          <div class="form-group col">
            <label for="video_url">Video URL</label>
            <input type="text" class="form-control" name="video_url" value="<%= impact.video_url %>">    
          </div>
        </div>
  
        <div class="form-group">
          <label for="exampleFormControlInput1">Comments</label>
          <textarea class="form-control" name="comments" rows="2"><%= impact.comments %></textarea>
        </div>

      <a class="btn btn-danger btn-lg" style="float: left; padding: 10px; width:25%; margin: 10px; width:30%" href="/impacts/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right; padding: 10px; margin: 10px;width:30%">Submit Changes</a>
    </form>
  </div>
  <% include ./partials/formValidationScript%>
  <% include ./partials/scripts%>  
  <% include ./partials/addOtherDissemination%>

</body>
</html>
