<!DOCTYPE html>
<html>
  <head>
    <title>Edit SM Share</title>
    <% include ./partials/css%>
  </head>
<body>
  <%- include('partials/navbar', {admin:admin}) %>
  <div class="content-form">

    <form class="impact-form" action="/sm-shares/edit/<%= share.id %>" method="post" novalidate>
      <h2>Edit SM Share</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Headline*</label>
        <input type="text" class="form-control" name="headline" value="<%= share.headline %>" required>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination*</label>
        <select class="form-control selectpicker" data-size="10" data-live-search="true" name="dissemination" data-style="btn-default border" required>
          <option selected value="<%= share.dissemination %>"><%= dissemination.headline %></option>
          <option disabled>----------</option>
          <option value="-1">Other dissemination (Add info manually) </option>
          <option disabled>----------</option>
          <% for(var i=0; i<disseminations.length; i++) {%>
            <option value="<%= disseminations[i].id %>">[<%= disseminations[i].id %>] <%= disseminations[i].headline %> (<%= disseminations[i].date.getFullYear() %>)</option>
          <% }%>
        </select>
      </div>

      <div class="form-group optional">
        <label id="dissemination_headline_label" for="exampleFormControlInput1">Dissemination: Headline*</label>
        <input type="text" class="form-control dissemination" name="dissemination_headline" value="<%= dissemination.headline %>" disabled>
      </div>

      <div class="form-group optional">
        <label id="dissemination_lead_paragraph_label" for="exampleFormControlInput1">Dissemination: Lead Paragraph*</label>
        <textarea class="form-control dissemination" name="dissemination_lead_paragraph" rows="3"disabled required><%= dissemination.lead_paragraph %></textarea>
      </div>

      <div class="form-group">
        <label id="dissemination_summary_label" for="exampleFormControlInput1">Dissemination: Summary*</label>
        <textarea class="form-control dissemination" name="dissemination_summary" rows="3"disabled><%= dissemination.summary %></textarea>
      </div>

      <div class="form-row">
        <div class="form-group col optional">
          <label id="dissemination_published_date_label" for="exampleFormControlSelect1">Dissemination: Published Date*</label>
          <input type="date" class="form-control dissemination" value="<%= dissemination.date%>" name="dissemination_date"disabled>
        </div>
        <div class="form-group col">
          <label id="dissemination_pr_news_label" for="exampleFormControlSelect1">Dissemination: PR/NEWS</label>
          <select class="form-control dissemination" name="dissemination_pr_news"  disabled>
            <option disabled selected value="<%= dissemination.pr_news %>"><%= dissemination.pr_news %></option>
            <option value="PR">PR</option>
            <option value="NEWS">NEWS</option>
          </select>
        </div>
      </div>

      <div class="form-group optional">
        <label id="dissemination_url_label" for="exampleFormControlInput1">Dissemination: URL*</label>
        <input type="text" class="form-control dissemination" name="dissemination_url" value="<%= dissemination.url %>" disabled>
      </div>

      <div class="form-row">

        <div class="form-group col">
          <label for="media">Social Media</label>
          <select class="form-control" id="social_media" name="social_media" required>
            <option selected value="<%= share.social_media_id %>"><%= share.social_media %></option>
            <% for(var i=0; i<social_medias.length; i++) {%>
            <option value="<%= social_medias[i].id %>"><%= social_medias[i].name %></option>
            <% }%>
          </select>
        </div>

        <div class="form-group col">
          <label for="media">Social Media Account</label>
          <select class="form-control" id="social_media_account" name="social_media_account" required>
            <option selected value="<%= share.account %>"><%= share.social_media_account %></option>
            <% for(var i=0; i<accounts.length; i++) {%>
            <option value="<%= accounts[i].id %>"><%= accounts[i].name %></option>
            <% }%>
          </select>
        </div>

      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="exampleFormControlInput1">Message</label>
          <textarea class="form-control" name="message" rows="3"><%= share.message %></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Comments</label>
        <textarea class="form-control" name="comments" rows="2"><%= share.comments %></textarea>
      </div>

      <div class="row">

        <div class="form-group col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Language*</label>
            <select class="form-control" name="language" required>
              <option selected value="<%= share.language %>"><%= share.language %></option>
              <option value="Spanish">Spanish</option>
              <option value="English">English</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>

        <div class="form-group col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Date Published*</label>
            <input type="date" class="form-control" name="date" value="<%= share.date %>" required>
          </div>
        </div>

      </div>

      <div class="row" style="margin:20px;">

        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" name="uploaded" <% if(share.uploaded){ %> checked <%}%> >
            <label class="form-check-label form-check-label" for="defaultCheck1">Uploaded</label>
          </div>
        </div>

        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" name="proactivity" <% if (share.proactivity){ %> checked <% } %>>
            <label class="form-check-label" for="defaultCheck1">Proactivity</label>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="form-group col">
          <label for="classification">Classification</label>
          <select class="form-control" name="classification" required>
            <option selected value="<%= share.classification_id %>"><%= share.classification %></option>
            <% for(var i=0; i<classifications.length; i++) {%>
              <option value="<%= classifications[i].id %>"><%= classifications[i].classification %></option>
            <% }%>
          </select>
        </div>

        <div class="form-group col">
          <label for="photo_count">Number of photos*</label>
          <select class="form-control" name="photo_count" required>
            <option selected value="<%= share.photo_count %>"> <%= share.photo_count %> </option>
            <option value="0">none</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">>5</option>
          </select>
        </div>

      </div>

      <div class="form-group row">
        <div class="form-group col">
          <label for="exampleFormControlInput1">Source URL*</label>
          <input type="text" class="form-control" name="source_url" required value="<%= share.source_url %>">
        </div>
        <div class="form-group col">
          <label for="exampleFormControlInput1">Video URL</label>
          <input type="text" class="form-control" name="video_url" value="<%= share.video_url %>">
        </div>
      </div>

      <a class="btn btn-danger btn-lg" style="float: left; padding: 10px; width:25%; margin: 10px; width:30%" href="/sm-shares/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right; padding: 10px; margin: 10px;width:30%">Submit Changes</a>
    </form>
  </div>
  <% include ./partials/addOtherDissemination%>
  <% include ./partials/formValidationScript%>
  <% include ./partials/scripts%>
</body>
</html>
