<!DOCTYPE html>
<html>
  <head>
    <title>Edit Publication</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content-form">
      <form class="publication-form" action="/publications/edit/<%= publication.id %>" method="post" novalidate>
        <h2>Edit Publication</h2>
        <div class="form-group">
          <label for="exampleFormControlInput1">Headline*</label>
          <input type="text" class="form-control" name="headline" value="<%= publication.headline %>" required>
          <div class="invalid-feedback">
            This field cannot be empty
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Summary*</label>
          <textarea class="form-control" name="summary" rows="3" required><%= publication.summary %></textarea>
          <div class="invalid-feedback">
            Please add a short summary of the publication
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Media (<a href='/media/add'>Add new</a>)</label>
              <select class="form-control" name="media" required>
                <option selected value="<%= publication.media_id %>"><%= publication.name %></option>
                <% for(var i=0; i<medias.length; i++) {%>
                  <option value="<%= medias[i].id %>"><%= medias[i].name %></option>
                <% }%>
              </select>
              <div class="invalid-feedback">
                Please choose one of the registered medias or add a new one
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Media Section*</label>
              <input type="text" class="form-control" name="media_section" value="<%= publication.media_section %>" required>
              <div class="invalid-feedback">
                Please specify the section of the media (Science,Technology,News...)
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Spokesperson</label>
          <input type="text" class="form-control" name="spokesperson" value="<%= publication.spokesperson %>">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Comments</label>
          <textarea class="form-control" name="comments" rows="2"><%= publication.comments %></textarea>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Language*</label>
                <select class="form-control" name="language" required>
                  <option selected value="<%= publication.language %>"><%= publication.language %></option>
                  <option value="spanish">Spanish</option>
                  <option value="english">English</option>
                  <option value="french">French</option>
                  <option value="german">German</option>
                  <option value="italian">Italian</option>
                  <option value="russian">Russian</option>
                  <option value="greek">Greek</option>
                  <option value="chinese">Chinese</option>
                  <option value="japanese">Japanese</option>
                  <option value="arabic">Arabic</option>
                  <option value="other">Other</option>
                </select>
                <div class="invalid-feedback">
                  Plase select the language of the publication (select other if multiple languages are used)
                </div>
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Date Published*</label>
                <input type="date" class="form-control" name="date" value="<%= publication.date %>" required>
                <div class="invalid-feedback">
                  You must add the date when the publication was made
                </div>
              </div>
          </div>
        </div>
        <div class="row" style="margin-bottom:30px; margin-top:30px;">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="uploaded" <% if(publication.uploaded){ %> checked <%}%> >
                <label class="form-check-label form-check-label" for="defaultCheck1">Uploaded*</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="has_video" <% if (publication.has_video){ %> checked <% } %>>
                <label class="form-check-label" for="defaultCheck1"> Has video*</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="statements"  <% if (publication.statements){ %> checked <% } %> >
                <label class="form-check-label" for="defaultCheck1">Statements*</label>
              </div>
            </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="proactivity" <% if (publication.proactivity){ %> checked <% } %>>
              <label class="form-check-label" for="defaultCheck1">Proactivity*</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="form-group">
                <select class="form-control" name="type" required>
                  <option selected value="<%= publication.publication_type %>"> <%= publication.type %> </option>
                  <% for(var i=0; i<types.length; i++) {%>
                    <option value="<%= types[i].id %>"><%= types[i].type %></option>
                  <% }%>
                </select>
                <div class="invalid-feedback">
                  Plase select the type of publication
                </div>
              </div>
            </div>
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="pr_news" required>
                <option selected value="<%= publication.pr_news %>"> <%= publication.pr_news %> </option>
                <option value="PR">PR</option>
                <option value="NEWS">News</option>
              </select>
              <div class="invalid-feedback">
                Please choose one of the options
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <select class="form-control" name="photo_count" required>
                <option selected value="<%= publication.photo_count %>"> <%= publication.photo_count %> </option>
                <option value="0">none</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">>5</option>
              </select>
              <div class="invalid-feedback">
                You must select the number of photos included in the publication
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <label for="exampleFormControlInput1">Original URL*</label>
              <input type="text" class="form-control" name="url" required value="<%= publication.url %>">
              <div class="invalid-feedback">
                Please copy and paste the URL from the publication here
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">Shortened URL</label>
              <input type="text" class="form-control" name="shortened_url" value="<%= publication.shortened_url %>">
            </div>
          </div>
      </div>
      <a class="btn btn-danger btn-lg" style="float: left; padding: 10px; width:25%; margin: 10px; width:30%" href="/publications/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right; padding: 10px; margin: 10px;width:30%">Submit Changes</a>
    </form>
  </div>
  <% include ./partials/formValidationScript%>
  <% include ./partials/scripts%>
</body>
</html>
