<!DOCTYPE html>
<html>
  <head>
    <title>Impact Settings</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">
      <div class="row">
        <h2 style="float: left;"><%= title %></h2>
      </div>
      <div class="row row-title">
        <div class="col">
          <h3 style="float: left;">Impact Types</h3>
        </div>
        <div class="col">
          <a style="float: right;" href="/impacts/add" class="btn btn-info">Add Impact Type</a>
        </div>
      </div>
      <div class="row">
        <table class="table table-striped table-bordered table-responsive-lg" id="impacts-table">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th class="no-sort" scope="col" style="text-align:center">Impacts</th>
              <th class="no-sort" scope="col" style="text-align:center">Actions</th>
            </tr>
          </thead>
          <tbody>
              <% for(var i=0; i<impactTypes.length; i++) {%>
              <tr>
                <td><%= impactTypes[i].type %></td>
                <td style="text-align: center"><a class="fas fa-list" href="/impacts/type/<%= impactTypes[i].id %>" ></a></td>
                <td style="text-align: center"><a class="fas fa-trash-alt" style="color:red;" href="/impacts/delete-type/<%= impactTypes[i].id %>" ></a></td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      </div>
    <% include ./partials/scripts%>
    <% include ./partials/datatablesScripts%>
</body>
</html>
