<!DOCTYPE html>
<html>
  <head>
    <title>Impact Settings</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">
        <div class="impacts-table">
            <div class="row row-title">
                <div class="col">
                    <h2 style="float: left;">Media Outlets</h2>
                </div>
                <div class="col">
                    <a style="float: right;" href="/media/add" class="btn btn-info">Add Media Outlet</a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive-lg" id="impacts-table">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Content</th>
                <th scope="col">Coverage</th>
                <th scope="col">Format</th>
                <th class="no-sort" scope="col" style="text-align:center">Impacts</th>
                <th class="no-sort" scope="col" style="text-align:center">URL</th>
                <th class="no-sort" scope="col" style="text-align:center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<medias.length; i++) {%>
                <tr>
                    <td><%= medias[i].name %></td>
                    <td><%= medias[i].media_type %></td>
                    <td><%= medias[i].content %></td>
                    <td><%= medias[i].coverage %></td>
                    <td><%= medias[i].format %></td>
                    <td style="text-align: center"><a class="fas fa-list" href="impacts/media/<%= medias[i].id %>" ></a></td>
                    <td style="text-align: center"><a class="fas fa-external-link-alt" href="<%= medias[i].url %>" target="_blank"></a></td>
                    <% if(medias[i].available == true){ %>
                        <td style="text-align: center"><a class="fas fa-trash-alt" style="color:red;" href="/media/change-status/<%= medias[i].id %>" ></a></td>
                    <%}else{%>
                        <td style="text-align: center"><a class="fas fa-trash-restore-alt" style="color:green;" href="/media/change-status/<%= medias[i].id %>" ></a></td>
                    <%}%>
                </tr>
                <% } %>
            </tbody>
            </table>
        </div>
    </div>
    <% include ./partials/scripts%>
    <% include ./partials/datatablesScripts%>
</body>
</html>
