<!DOCTYPE html>
<html>
  <head>
    <title>User Info</title>
    <% include ./partials/css%>
  </head>
<body>
    <% if(admin == true) {%>
      <%  include ./partials/navbarAdmin%>
      <% }else{%>
      <%  include ./partials/navbar%>
      <% } %>
      <div class="content">
        <div class="row">
          <h2 style="float: left;"><%= title %></h2>
        </div>
        <div class="row row-title">
          <div class="col">
            <h3 style="float: left;">Media Types</h3>
          </div>
          <div class="col">
              <a style="float: right;" href="/publication/add" class="btn btn-info">Add Media Type</a>
          </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered table-responsive-lg" id="publications-table 1">
              <thead>
                <tr>
                  <th scope="col" onclick="sortTable('publications-table 1', 0,false)">Contents</th>
                  <th scope="col">Publications</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <% for(var i=0; i<mediaTypes.length; i++) {%>
                  <tr>
                      <td><%= mediaTypes[i].type %></td>
                      <td style="text-align: center"><a class="fas fa-list" href="" ></a></td>
                      <td style="text-align: center"><a class="fas fa-trash-alt" style="color:red;" href="" ></a></td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        <div class="row row-title">
          <div class="col">
            <h3 style="float: left;">Media Contents</h3>
          </div>
          <div class="col">
            <a style="float: right;" href="/publication/add" class="btn btn-info">Add Media Content</a>
          </div>
        </div>
        <div class="row">
            <table class="table table-striped table-bordered table-responsive-lg" id="publications-table 2">
              <thead>
                <tr>
                  <th scope="col" onclick="sortTable('publications-table 2',0,false)">Contents</th>
                  <th scope="col" >Publications</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<mediaContents.length; i++) {%>
                  <tr>
                      <td><%= mediaContents[i].content %></td>
                      <td style="text-align: center"><a class="fas fa-list" href="" ></a></td>
                      <td style="text-align: center"><a class="fas fa-trash-alt" style="color:red;" href="" ></a></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="row row-title">
              <div class="col">
                <h3 style="float: left;">Medias</h3>
              </div>
              <div class="col">
                <a style="float: right;" href="/media/add" class="btn btn-info">Add Media</a>
              </div>
            </div>
            <div class="row">
                <table class="table table-striped table-bordered table-responsive-lg" id="publications-table 3">
                  <thead>
                    <tr>
                      <th scope="col" onclick="sortTable('publications-table 3',0,false)">Name</th>
                      <th scope="col" onclick="sortTable('publications-table 3',1,false)">Type</th>
                      <th scope="col" onclick="sortTable('publications-table 3',1,false)">Content</th>
                      <th scope="col" onclick="sortTable('publications-table 3',1,false)">Coverage</th>
                      <th scope="col" onclick="sortTable('publications-table 3',1,false)">Format</th>
                      <th scope="col">Publications</th>
                      <th scope="col">URL</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<medias.length; i++) {%>
                      <tr>
                          <td><%= medias[i].name %></td>
                          <td><%= medias[i].type %></td>
                          <td><%= medias[i].content %></td>
                          <td><%= medias[i].coverage %></td>
                          <td><%= medias[i].format %></td>
                          <td style="text-align: center"><a class="fas fa-list" href="" ></a></td>
                          <td style="text-align: center"><a class="fas fa-external-link-alt" href="<%= medias[i].url %>" ></a></td>
                          <td style="text-align: center"><a class="fas fa-trash-alt" style="color:red;" href="" ></a></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    <% include ./partials/scripts%>
    <% include ./partials/sortingScript%>
</body>
</html>
