<!DOCTYPE html>
<html>
  <head>
    <title>New Impact</title>
    <% include ./partials/css%>
  </head>
<body>
  <%- include('partials/navbar', {admin:admin}) %>
  <div class="content-form">
    <form class="publication-form" action="/impacts/add" method="post" novalidate>
      <h2>Add Media Impact</h2>
      
      <div class="form-group">
        <label for="exampleFormControlInput1">Impact Headline*</label>
        <input type="text" class="form-control" name="headline" required>
        <div class="invalid-feedback">
          This field cannot be empty.
        </div>
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination*</label>
        <select class="form-control" name="dissemination" data-style="btn-light" data-show-subtext="true" data-live-search="true" required>
          <option disabled selected value> -- select a dissemination -- </option>
          <option disabled>----------</option>
          <option value="-1">Other dissemination (Add info manually) </option>
          <option disabled>----------</option>
          <% for(var i=0; i<disseminations.length; i++) {%>
            <option value="<%= disseminations[i].id %>">[<%= disseminations[i].id %>] <%= disseminations[i].headline %> (<%= disseminations[i].date.getFullYear() %>)</option>
          <% }%>
        </select>
        <div class="invalid-feedback">
          You must select the dissemination which the impact refers to.
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination Headline*</label>
        <input type="text" class="form-control dissemination" name="dissemination_headline"disabled>
        <div class="invalid-feedback">
          This field cannot be empty
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination Summary*</label>
        <textarea class="form-control dissemination" name="dissemination_summary" rows="3"disabled></textarea>
        <div class="invalid-feedback">
          Please add a short summary of the publication
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
            <label for="exampleFormControlSelect1">Dissemination Published Date*</label>
            <input type="date" class="form-control dissemination" name="dissemination_date"disabled>
            <div class="invalid-feedback">
              You must add the date when the publication was made.
            </div>
        </div>
        <div class="form-group col">
          <label for="exampleFormControlSelect1">Dissemination PR/NEWS</label>
          <select class="form-control dissemination" name="dissemination_pr_news"disabled>
            <option disabled selected value> -- select an option -- </option>
            <option value="PR">PR</option>
            <option value="NEWS">NEWS</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Dissemination URL*</label>
        <input type="text" class="form-control dissemination" name="dissemination_url"disabled>
        <div class="invalid-feedback">
          Please copy and paste the URL from the publication here
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col">
          <label for="exampleFormControlSelect1">Media (<a href='/media/add'>Add new</a>)</label>
          <select class="form-control" name="media" data-show-subtext="true" data-live-search="true" required>
            <option disabled selected value> -- Select a Media -- </option>
            <% for(var i=0; i<medias.length; i++) {%>
              <option value="<%= medias[i].id %>">[<%= medias[i].format %>] <%= medias[i].name %> </option>
            <% }%>
          </select>
          <div class="invalid-feedback">
            Please choose one of the registered medias or add a new one.
          </div>
        </div>
        <div class="form-group col">
          <label for="exampleFormControlInput1">Media Section*</label>
          <input type="text" class="form-control" name="media_section" required>
          <div class="invalid-feedback">
            Please specify the section of the media (Science,Technology,News...).
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Type of Publication</label>
              <select class="form-control" name="type" required>
                <option disabled selected value> -- Select a Type -- </option>
                <% for(var i=0; i<types.length; i++) {%>
                  <option value="<%= types[i].id %>"><%= types[i].type %></option>
                <% }%>
              </select>
              <div class="invalid-feedback">
                Plase select the type of publication
              </div>
            </div>
          </div>
        <div class="form-group col"style="display: flex;align-items: center;">    
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="uploaded" value="true" name="uploaded">
            <label class="form-check-label" for="uploaded">Uploaded*</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="proactivity" value="true" name="proactivity">
            <label class="form-check-label" for="proactivity">Proactivity*</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="exampleFormControlSelect1">Language*</label>
          <select class="form-control" name="language" required>
            <option disabled selected value> -- select language -- </option>
            <option value="Spanish">Spanish</option>
            <option value="English">English</option>
            <option value="Other">Other</option>
          </select>
          <div class="invalid-feedback">
            Plase select the language of the publication (select other if multiple languages are used).
          </div>
        </div>
        <div class="form-group col">
          <label for="exampleFormControlSelect1">Date Published*</label>
          <input type="date" class="form-control" name="date" required>
          <div class="invalid-feedback">
            You must add the date when the publication was made.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="classification">Classification</label>
          <select class="form-control" name="classification" required>
            <option disabled selected value> -- Select a Classification -- </option>
            <% for(var i=0; i<classifications.length; i++) {%>
              <option value="<%= classifications[i].id %>"><%= classifications[i].classification %></option>
            <% }%>
          </select>
          <div class="invalid-feedback">
            Plase select a Classification
          </div>
        </div>
        <div class="form-group col">
            <label for="classification">Number of Photos</label>
          <select class="form-control" name="photo_count" required>
            <option disabled selected value> -- Number of Photos -- </option>
            <option value="0">none</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">>5</option>
          </select>
          <div class="invalid-feedback">
            You must select the number of photos included in the publication
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="exampleFormControlInput1">Spokesperson</label>
          <input type="text" class="form-control" name="spokesperson">
        </div>
        <div class="form-group col" style="display: flex;align-items: center;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="statements" value="true" name="statements">
            <label class="form-check-label" for="statements">Statements</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="has_video" value="true" name="has_video">
            <label class="form-check-label" for="has_video"> Has video</label>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlInput1">Source URL*</label>
            <input type="text" class="form-control" name="source_url" required>
            <div class="invalid-feedback">
              Please copy and paste the URL from the publication here
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlInput1">Comments</label>
        <textarea class="form-control" name="comments" rows="2"></textarea>
      </div>

      <a class="btn btn-danger btn-lg" style="float: left;margin: 10px;" href="/publications/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right;margin: 10px;">Add Media Impact</a>
  
    </form>
  </div>
<script> 
$(document).ready(function(disseminations){
  $("select[name='dissemination']").on('change',function(){
    var selected = $(this).val()
    console.log(selected)
    if(selected =="-1"){
      $('.dissemination').prop("disabled",false);
      $('.dissemination').val(null,false);
    }else{
      const disseminations = <%- JSON.stringify(disseminations) %>;
      const index = disseminations.length - selected
      var date = new Date(disseminations[index].date)
      console.log()
      $('.dissemination').prop("disabled",true);
      $("input[name='dissemination_headline']").val(disseminations[index].headline);
      $("textarea[name='dissemination_summary']").val(disseminations[index].summary);
      $("input[name='dissemination_date']").val(date.getFullYear()+"-"+("0" + (date.getMonth() + 1)).slice(-2)+"-"+("0" + date.getDate()).slice(-2));
      $("select[name='dissemination_pr_news']").val(disseminations[index].pr_news);
      $("input[name='dissemination_url']").val(disseminations[index].url);
    }
  });
});
</script>
 
<% include ./partials/formValidationScript%>
<% include ./partials/scripts%>
</body>
</html>
